* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    line-height: 24px;
    color: #808080;
}
a {
    color: #707070;
}
a:focus,
a:hover {
    color: #707070;
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
ul {
    margin-bottom: 0;
}
li {
    list-style-type: none;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.sec-bg {
    background-color: #f6f6f6;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.no-pad {
    margin: 0;
    padding: 0;
}
.no-pad-left {
    padding-left: 0
}
.no-pad-right {
    padding-right: 0
}
.section-pad {
    padding: 15px 0px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.margin-content {
    margin-top: 40px;
}
.margin-sngl {
    margin-top: 30px;
}
.img-responsive {
    width: 100%;
}


/*  ==========================================================
                         header-top 
    ========================================================== */

#header-top {
    background-color: #f9f9f9;
    min-height: 40px;
}
.header-top-left,
.header-top-right {
    margin-top: 8px;
}
.header-top-left span,
.header-top-right span {
    margin-right: 5px;
}
.header-top-left ul li,
.header-top-right  ul li {
    position: relative;
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
}
.header-top-right  ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.header-top-left ul li:not(:last-child):before,
.header-top-right  ul li:not(:last-child):before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #ddd;
    margin-top: 6px;
    right: 0;
}
.header-top-left ul li span i,
.header-top-right ul li span i{
    font-size: 12px;
    color: #666666;
}
.header-top-left ul li a,
.header-top-right ul li a {   
    line-height: 22px;  
}
.header-top-left ul li a:hover,
.header-top-right ul li a:hover {
    color: #FF3366;
}
.header-top-left ul li a:hover i,
.header-top-right ul li a:hover i {
    color: #FF3366;
}
.header-top-left ul li a,
.header-top-right ul li a,
.header-top-left ul li span i,
.header-top-right ul li span i {
    transition: 0.50s;
    -moz-transition: 0.50s;
    -webkit-transition: 0.50s;
    -o-transition: 0.50s;
    -ms-transition: 0.50s; 
}


/*  ==========================================================
                         header-middle 
    ========================================================== */


#header-middle {
    min-height: 100px;
}
.brand-logo {
    padding: 21px 0;
}
.header_middle_right {
    padding: 30px 0;
}
.dropdown_button {
    padding-left: 69px;
}
.dropdown_button .btn-default {
    color: #333333;
    background-color: #f6f6f6;
}
.dropdown_button .btn {
    padding: 9px 20px;
    border: 1px solid #eeeeee;
    border-radius: 0;
}
.btn.active,
.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-offset: 0;
}
.dropdown_button .btn-default.active.focus, 
.dropdown_button .btn-default.active:focus, 
.dropdown_button .btn-default.active:hover,
.dropdown_button .btn-default:active.focus, 
.dropdown_button .btn-default:active:focus, 
.dropdown_button .btn-default:active:hover, 
.dropdown_button .open>.dropdown-toggle.btn-default.focus, 
.dropdown_button .open>.dropdown-toggle.btn-default:focus, 
.dropdown_button .open>.dropdown-toggle.btn-default:hover {
    color: #333333;
    background-color: #f6f6f6;
    border-color: #eeeeee;
}
.dropdown-menu {
    border-radius: 0;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #FF3366;
}
.cart_btn_box .input-group .form-control,
.dropdown_button .input-group .form-control {
    height: 40px;
    width: 340px;
    padding: 6px 12px;
    border: 1px solid #eeeeee;
    border-radius: 0;    
    box-shadow: none;
        -webkit-box-shadow: none;
}
.cart_btn_box .input-group .form-control {
    width: 131px;
}
.cart_btn_box .cart_btn.btn-default, 
.header_middle_right .dropdown_button .search_btn.btn-default {
    color: #fff;
    background-color: #ff3366;
}
.cart_btn_box .cart_btn.btn {
    padding: 9px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
}
.cart_btn_box .btn:hover,
.header_middle_right .search_btn.btn:hover,
.newsletter_box .btn:hover {
    background: #ec053f;
}
/*  ==========================================================
                         main menu
    ========================================================== */

#main_menu {
    min-height: 50px;
    background: #f6f6f6;
}
.catergory.input-group-btn .btn-default {
    color: #fff;
    background-color: #2f2f2f;
}
.catergory.input-group-btn .btn {
    padding: 6px 20px;
    height: 50px;
    width: 220px;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: left;
    text-transform: uppercase;
}
.catergory.input-group-btn span {
    float: right;
}
.catergory .btn-default.active.focus, 
.catergory .btn-default.active:focus, 
.catergory .btn-default.active:hover,
.catergory .btn-default:active.focus, 
.catergory .btn-default:active:focus, 
.catergory .btn-default:active:hover, 
.catergory .open>.dropdown-toggle.btn-default.focus, 
.catergory .open>.dropdown-toggle.btn-default:focus, 
.catergory .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #2f2f2f;
    border-color: transparent;
}
.main_menu_content .input-group-btn {
    display: inline-table;
    float: left;
}
.menu_list ul li {
    position: relative;
    display: inline-block;
    padding: 13px 30px;
    margin-right: -4px;
    transition: 0.75s;
        -moz-transition: 0.75s;
        -webkit-transition: 0.75s;
        -o-transition: 0.75s;
        -ms-transition: 0.75s;
}
.menu_list ul li:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    background: #ddd;
    margin-top: -3px;
    right: 0;
}
.menu_list ul li:hover {
    background: #FF3366;
}
.menu_list ul li a {
    font-weight: 600;
    transition: 0.75s;
        -moz-transition: 0.75s;
        -webkit-transition: 0.75s;
}
.menu_list ul li:hover a {
    color: #fff;
}



/* -------------------------------------------------------
                    Home - Slider
-------------------------------------------------------- */

.slide_section_main {
    position: relative;
}

/* slide box block */
.slide_section_main .slide_box_block {
    float: left;
}
#slider .carousel-control.right,
#slider .carousel-control.left {
    background-image: none; 
    background-image: none; 
    background-image: none; 
    background-image: none; 
}
#slider .carousel-control .glyphicon-menu-left {
    left: -39%;
}
#slider .carousel-control .glyphicon-menu-right {
    right: -39%;
}
#slider .carousel-control .glyphicon-menu-left,
#slider .carousel-control .glyphicon-menu-right {
    font-size: 20px;
    color: #fff;
    background: #2f2f2f;
    padding: 10px 5px;
}
#slider .glyphicon {
    top: 50%;
}

/* Caption-one */
#slider .carousel-caption.caption-one {
    left: 5%;
    top: 0;
    color: #fff;
    text-align: left;
}
#slider .carousel-caption.caption-one h2 {
    font-size: 50px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    font-family: 'Open-Sans', sans-serif;
}
#slider .carousel-caption.caption-one h3 {    
    color: #FEFEFE;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#slider .carousel-caption.caption-one h3 {
    letter-spacing: 1px;    
    margin-bottom: 10px;
}
.btn_shop_now.btn-default {
    color: #fff;
    font-weight: 600;
    background-color: #FF3366;
}
.btn_shop_now.btn {
    padding: 9px 20px;
    border: 1px solid #eeeeee;
    border-radius: 0;
    margin-top: 15px;
}
.btn_shop_now.btn-default.active.focus, 
.btn_shop_now.btn-default.active:focus, 
.btn_shop_now.btn-default.active:hover,
.btn_shop_now.btn-default:active.focus, 
.btn_shop_now.btn-default:active:focus, 
.btn_shop_now.btn-default:active:hover,
.btn_shop_now.open>.dropdown-toggle.btn-default.focus, 
.btn_shop_now.open>.dropdown-toggle.btn-default:focus, 
.btn_shop_now.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #FF3366;
    border-color: #FF3366;
}

/* Banner Slide */
.slide_section_main .banner_slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    padding: 0 12px;
    background-color: #FF3366;
    max-height: 450px;
    overflow: hidden;
}
.slide_section_main .banner_slide .box_img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 197px;
    border-bottom: 1px dotted #fff;
    background-color: green;
}
.slide_section_main .banner_slide a img {
    display: block;
    width: 100%;
    padding: 21px 0;
}


/* -------------------------------------------------------
                    Home - Fashion
-------------------------------------------------------- */


#home_fashion,
#home_electronics {
    background: #f6f6f6;
}
.block_title {
    min-height: 50px;
    background: #fff;
    border-bottom: 3px solid #ff3366;
}
.block_title .title {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 12px;
    display: block;
    line-height: 47px;
    float: left;
    background-color: #2F2F2F;
    min-width: 230px;
}
.block_title .title img {
    margin-right: 5px;
}
.block_links ul li {
    position: relative;
    display: inline-block;
    padding: 13px 15px;
    margin-right: -4px;
    transition: 0.75s;
        -moz-transition: 0.75s;
        -webkit-transition: 0.75s;
        -o-transition: 0.75s;
        -ms-transition: 0.75s;
}
.block_links ul li:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    background: #ddd;
    margin-top: -3px;
    right: 0;
}
.block_links ul li:hover {
    background: #FF3366;
}
.block_links ul li a {
    transition: 0.75s;
        -moz-transition: 0.75s;
        -webkit-transition: 0.75s;
}
.block_links ul li:hover a {
    color: #fff;
}
.block_content {
    margin-top: 5px;
}
.block_content .col_banner {
    position: relative;
    width: 20%;
}
.col_banner .label_featured {
    position: absolute;
    top: -5px;
    right: -5px;
}
.block_content .col_products {
    width: 80%;
}
.product_item_actions {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 227px;
    text-align: center;
    background: rgb(0,0,0, 0.5);
    padding: 7px 0;
    transition: 0.75s;
    opacity: 0;
}
.product_item_actions .btn {
    display: inline-table;
    padding: 16px 12px;
}
.product_item_actions .btn:hover span i {
    background: #ff3366;
    border-color: #ff3366;
}
.product_item_actions span i {
    color: #fff;
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    padding-top: 10px;
    transition: 0.75s;
        -webkit-transition: 0.75s;
        -moz-transition: 0.75s;
}
.product_item_single:hover .product_item_actions {
    transform: translateY(-65px);
    opacity: 1;
}
.product_item_photo {
    position: relative;
    overflow: hidden;
}
.product_item_img img {
    height: 350px;
    transition: 0.75s;
}
.product_item_single:hover .product_item_img img {
    transform: scale(1.1);
}
.product_item_detail {
    position: absolute;
    bottom: 0;
    min-height: 65px;
    min-width: 228px;
    padding: 8px 13px 0;
    background: #fff;
    border: 2px solid #f6f6f6;
}
.product_item_price {
    font-size: 18px;
    font-weight: 700;
    color: #ff3366;
}
.product_item_price .price {
    margin-left: 2px;
}
.product_item_price .old_price {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    text-decoration: line-through;
}
.item_reviews ul li {
    display: inline-block;
}
.item_reviews ul li span i {
    font-size: 10px;
    color: #FF9901;
}
.item_reviews span.five_star i {
    color: #CCCCCC;
}
.block_banner_floor .col-sm-6 {
    padding: 0;
}
.block_banner_floor .box_img {
    display: block;
    position: relative;
    overflow: hidden;
}


/* -------------------------------------------------------
                    Home - Electronics
-------------------------------------------------------- */

#home_electronics .block_links ul li:hover {
    background: #ff6634;
}
#home_electronics .block_title {
    border-bottom: 3px solid #ff6634;
}


/* -------------------------------------------------------
                    Home - Brand Categories
-------------------------------------------------------- */

#brand_categories .block_title {
    min-height: 40px;
}
#brand_categories .block_title .title {
    padding-left: 0;
    padding-right: 0;
    line-height: 40px;
    min-width: 160px;
}
#brand_categories .block_title .title {
    color: #2F2F2F;
    background-color: transparent;
}
.block_content_brand {
    border: 1px solid #eee;
    padding-bottom: 35px;
}
.block_content_brand .nav_brand li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #eeeeee;
}
.block_content_brand .nav_brand.owl-theme .owl-nav {
    margin-top: 0;
    display: table;
    position: absolute;
    right: 0;
    top: -35px;
}
.block_content_brand .owl-carousel .owl-nav .owl-next,
.block_content_brand .owl-carousel .owl-nav .owl-prev {
    text-align: center;
    display: block;
    float: left;
    margin-left: 5px;
    width: 24px;
    line-height: 25px;
    background-color: #d9d9d9;
    color: #b5b5b5;
}
.owl-theme .owl-nav [class*=owl-] {
    margin: 0;
    border-radius: 0;
}
.block_content_brand .owl-nav .owl-prev:hover,
.block_content_brand .owl-nav .owl-next:hover {
    background-color: #999999;
    color: #fff;
}
.tab-content {
    padding-top: 20px;
}
.tab-content .brand_title {
    padding-right: 30px;
    padding-left: 30px;
}
.tab-content .brand_title img {
    margin-bottom: 15px;
    padding-top: 15px;
}
.tab-content .brand_title .brand_description p {
    margin-bottom: 20px;
}
.brand_title .brand_actions .btn span i {
    margin-left: 10px;
}
.btn-default {
    color: #565656;
    text-transform: uppercase;
    transition: all 0.75s ease;
}
.btn {
    border-radius: 0;
}
.brand_title .brand_actions .btn-default.active.focus, 
.brand_title .brand_actions .btn-default.active:focus, 
.brand_title .brand_actions .btn-default.active:hover, 
.brand_title .brand_actions .btn-default:active.focus, 
.brand_title .brand_actions .btn-default:active:focus, 
.brand_title .brand_actions .btn-default:active:hover, 
.brand_title .brand_actions .btn-default:hover, 
.brand_title .brand_actions .open>.dropdown-toggle.btn-default.focus, 
.brand_title .brand_actions .open>.dropdown-toggle.btn-default:focus, 
.brand_title .brand_actions .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #FF3366;
    border-color: #FF3366;
}
.brand_product_item .product_details {
    margin-top: 40px;
    padding-left: 15px;
    margin-right: 38px;
}
.product_single {
    width: 100%;
    overflow: hidden;
}
.product_img img {
    transition: all 0.75s ease;
}
.product_single:hover .product_img img {
    transform: scale(1.2);
}




/* -------------------------------------------------------
                    Home - Our Featured Items
-------------------------------------------------------- */

.home_blog h2,
.featured_content h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f2f2f;
}
.item_description {
    background-color: #F4F4F4;
    min-height: 260px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.item_description img {
    padding-top: 10px;
}
.item_description h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #2f2f2f;
    margin-top: 10px;
}
.product_details a,
.item_description a {
    background: #d5d5d5;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 12px;
    color: #525252;
}
.product_details .btn span i,
.item_description span i {
    margin-left: 15px;
}
.product_details .btn,
.item_description .btn {
    padding: 3px 8px;
    border-radius: 0;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
}
.product_details .btn.focus,
.product_details .btn:focus,
.product_details .btn:hover,
.item_description .btn.focus,
.item_description .btn:focus,
.item_description .btn:hover {
    color: #fff;
    background: #ff3366;
    text-decoration: none;
}
.featured_item ul {
    margin-top: 15px;
}
.featured_item {
    margin: 30px 0;
}
.featured_item:nth-child(2) {
    margin-top: 60px;
}

/* -------------------------------------------------------
                    Home - Testimonials
-------------------------------------------------------- */

.testimonial_left {
    background: url(../images/home/review.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
    margin-right: -15px;
}
.testimonial_overlay {
    background: rgba(0, 0, 0, 0.80);
}
.testimonial_overlay_text h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;    
}
.testimonial_overlay_text h2,
.testimonial_overlay_text p { 
    text-align: right;   
    color: #fff;
}
.testimonial_overlay_text {
    padding: 130px 80px 125px 126px;
}
.testimonial_overlay_text p {
    margin-top: 30px;
}
.testimonial_right {
    background: #f6f6f6;
    min-height: 450px;
}
#testimonial .testimonial_right .owl-carousel .owl-item img {
    width: inherit;
    display: inline-block;
}
.item.testimonial-single {
    max-width: 380px;
    text-align: center;
    margin: 0 auto;
    padding: 84px 0;
}
.testimonial-text span i {
    font-size: 40px;
    line-height: 65px;
    color: #989898;
}
.testimonial-text span {
    color: #FF3366;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}
#testimonial .testimonial_right .owl-carousel.owl-theme .owl-nav button.owl-pre {
    position: absolute;
    bottom: 40%;
    color: red;
}


/* -------------------------------------------------------
                    Home - Blog
-------------------------------------------------------- */


.home_blog {
    padding: 50px 0;
}
.blog_content.blog_single {
    margin-top: 30px;
}
.blog_single_text {
    background: #f8f8f8;
    padding: 20px 25px;
    min-width: 270px;
    min-height: 296px;
}
.blog_single_text ul {
    display: inline-block;
}
.blog_single_text h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}
.blog_single_text ul li {
    color: #3b3b3b;
    margin-right: 15px;
}
.blog_single_text p {
    color: #9b9b9b;
    margin-top: 20px;
}
.blog_single_text .btn {
    margin-top: 20px;
    background: #333333;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 0;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
}
.blog_single_text .btn:hover {
    background: #ff3366;
}
.blog_single_img {
    position: relative;
}
.blog_single_img:hover .blog_overlay {
    transform: scale(0.95);
}
.blog_overlay {
    background: rgba(0, 0, 0, 0.60);
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;    
}
.date {
    position: absolute;
    top: 60px;
    color: #333333;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
    background: #fff;
}



/* -------------------------------------------------------
                    Home - Terms Of Service
-------------------------------------------------------- */


.terms_content {
    padding: 0 55px;
}
.terms_text {
    margin-left: 20px;
}
.terms_text h4 {
    color: #3b3b3b;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
}
.terms_text p {
    font-size: 20px;
    line-height: 25px;
    color: #9b9b9b;
}


/* -------------------------------------------------------
                    Home - Footer
-------------------------------------------------------- */


.footer-widget {
    margin-top: 30px;
}

/* f-gallery start */
.f-gallery ul {
    margin-top: 20px;
}
.f-gallery li {
    display: inline-block;
    padding: 0 3px 7px 0;
}

/* f-links start */ 
.footer-widget.f-gallery h4,
.footer-widget.f-link h4,
.footer-widget.f-contact h4 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3b3b3b;
}
.f-link ul {
    margin-top: 8px;
}
.f-contact ul li,
.f-link ul li a {
    font-size: 13px;
    line-height: 24px;
    color: #3b3b3b;
     --moz--transition: .7s;
     --webkit--transition: .7s;
     --o--transition: .7s;
     --msn--transition: .7s;
     transition: .7s;
}
.f-link ul li a:hover {
    color: #ff3366;
}

/* f-contact start */
.footer-widget.f-contact ul {
    margin-top: 18px;
}
.footer-widget.f-contact .social_icon span i,
.footer-widget.f-contact .contact_details span i {
    border: 1px solid #3b3b3b;
    padding: 8px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    font-size: 14px;
}
.footer-widget.f-contact .contact_details li {
    margin-top: 10px;
}
.newsletter {
    margin-top: 25px;
}
.newsletter_box {
    margin-top: 15px;
}
.newsletter_btn {
    position: absolute;
    right: 0;
    top: 0;
}
.newsletter_box .form-control {
    height: 40px;
    padding: 8px 94px 8px 8px;
    font-size: 14px;
    color: #9b9b9b;
    background-color: transparent;
    border: 1px solid #3b3b3b;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.newsletter_box .btn {
    padding: 9px 10px;
    border-radius: 0;
    font-weight: 600;
    border: 1px solid #ff3366;
    background: #ff3366;
    color: #fff;
    z-index: 2;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
}
.footer-widget.f-contact .social_icon ul {
    display: inline-block;
}
.footer-widget.f-contact .social_icon span i {
    border: 1px solid transparent;
    color: #fff;
    transition: 0.75s;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
}
.footer-widget.f-contact .social_icon span i:hover {
    background: #3b3b3b;
}
.footer-widget.f-contact .social_icon .facebook i {
    background: #4285f4; 
}
.footer-widget.f-contact .social_icon .g_plus i {
    background: #ea4335; 
}
.footer-widget.f-contact .social_icon .linkedin i {
    background: #0073af; 
}
.footer-widget.f-contact .social_icon .twitter i {
    background: #0073af; 
}
.footer-widget.f-contact .social_icon {
    margin-top: 20px;
}

/* payment method start */
.payment_method {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.payment_method span {
    font-size: 16px;
    color: #3b3b3b;
}

/* copyright-txt start */
.copyright-txt {
    background: #f6f6f6;
    border-top: 1px solid #ECE9E9;
    padding: 15px 0;
    margin-top: 30px;
}